body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* const LeftSidebar = () => {
  const [active ,  setActive] = useState("home");

  const handleClick = (val) =>{
    setActive(val);
  }
  return (
    <div className="p-3 select-none fixed">
      <span className="text-3xl ">
        <RiTwitterXLine />
      </span>
      <div className="mt-10 flex flex-col gap-2">
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200">
          <GrHomeRounded />
          <span className="text-xl ">Home</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <BsSearch />
          <span className="text-xl ">Explore</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <RiNotification2Line />
          <span className="text-xl ">Notification</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <HiOutlineMail />
          <span className="text-xl ">Message </span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <RiFileList3Line />
          <span className="text-xl ">List</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <FaRegBookmark />
          <span className="text-xl ">Bookmark</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <BsPeople />
          <span className="text-xl ">Comminities</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <RiTwitterXLine />
          <span className="text-xl ">Premium</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <FaRegUser />
          <span className="text-xl ">Profile</span>
        </span>
        <span className="flex gap-3 items-center text-2xl rounded-3xl p-3 hover:bg-gray-200 ">
          <CgMoreO />
          <span className="text-xl ">More</span>
        </span>
      </div>
      <button
        type="button"
        className="bg-blue-400 text-white font-bold text-xl p-3 w-[240px] mt-5 rounded-3xl hover:bg-blue-500"
      >
        Post
      </button>

      <div className="flex items-center justify-between mt-28 rounded-3xl hover:bg-gray-200 p-2">
        <div className="flex items-center gap-2">
          <div className="w-[45px] h-[40px] contain border rounded-full overflow-hidden">
            <img src="https://wallpapercave.com/wp/wp5047332.jpg" alt="" />
          </div>
          <div className="flex flex-col ">
            <span className="font-bold">Jhon doe</span>
            <span>@jhondoe123</span>
          </div>
        </div>
        <div className="text-2xl">
          <FiMoreHorizontal />
        </div> 
      </div>
    </div>
  );
};

export default LeftSidebar; */